* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    border: none; /*sem borda*/
    font-family: sans-serif
}

body {
    background-color: #e8e6e7;

}

header{
    padding: 15px 70px;
    background-color: #1d1d1f;

}

.navigation {
    display: flex; 
    align-items: center;
    justify-content: space-between;

}

.navigation .Logo{
    width: 40px;
 
}

.navigation ul{
    display: flex;
    align-items: center;
    gap: 40px;

}

.navigation ul li a{
    color: #888;
    font-weight: 600;
    padding: 4px;
    transition: all 0.5 ease-in-out;
}

.navigation ul li a:hover{
    color: #fff;
    border-bottom: 1px solid #fff;
}

.navigation .check {
    color: #fff;
    border-bottom: 1px solid #fff;

}
