* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    border: none; /*sem borda*/
    font-family: sans-serif
}

html{
   
    overflow: auto;
    scrollbar-width: none; 
    -ms-overflow-style: none; 
}


.element::-webkit-scrollbar {
    display: none;
        
    
    
}
body {
    background-color: #e8e6e7;

}

header{
    padding: 15px 70px;
    background-color: #1d1d1f;

}

.navigation {
    display: flex; 
    align-items: center;
    justify-content: space-between;

}

.navigation .Logo{
    width: 40px;
 
}

.navigation ul{
    display: flex;
    align-items: center;
    gap: 40px;

}

.navigation ul li a{
    color: #888;
    font-weight: 600;
    padding: 4px;
    transition: all 0.5 ease-in-out;
}

.navigation ul li a:hover{
    color: #fff;
    border-bottom: 1px solid #fff;
}

.navigation .check {
    color: #fff;
    border-bottom: 1px solid #fff;

}

/*Main*/

main section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5rem 10rem;

}

.main-text img{
    width: 15rem;
    margin-bottom: 3vh;
}

.main-text h3 {
    font-size: 3.5rem;
    margin-bottom: 2rem;
}

.main-text p {
    margin-bottom: 1.5rem;
}

.main-text h6{
    color: #999;
    font-size: 1rem;
    margin-bottom: 2rem;
}

.main-text .btn {
    padding: 10px 25px;
    background-color: #0071e3;
    border-radius: 20px;
    color: #fff;
    font-size: 1.5rem;
    transition: all 0.5s;
   

}
.main-text .btn:hover {
    opacity: .85;
}

.main-text .text h5{
    font-size: 1rem;
    color: #444;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.main-text .content {
    display: flex;
    align-items: center;
    gap: 10px;
}

.main-text .content span{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    cursor: pointer;
    box-shadow: 1px 1px #888;
    transition: all 0.5s
}


.main-text .content span:hover{
    opacity: .80;
}
#green {
    background: #384937;
}

#pink{
    background:#f8ddd6;
}
#blue{
    background: #225f7e;
}
#black{
    background: #092732;
}
#white {
    background: #e0dbd7;
}
#red{
    background: #ae0617;
}

.main-img {

    transition: all 1s ease;
    z-index: 100;
}

.main-img img {
    width: 500px;
    transform:rotate(-7deg)
}

.circle{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #4d694a;
    clip-path: circle(800px at right 1000px);

}

.main-text .content span:hover {
    background-color: #f0f0f0; 
}
/* iPad style */

.main-ipad{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 30rem;
    
}

.main-ipad h2 {
    font-size: 3.5rem;
    margin-bottom: 2rem;
}

.main-ipad img {
    width: 38rem;
    margin-bottom: 3vh;
}
.main-ipad .text-ipad{
    text-align: center;
}

.main-ipad .text-ipad h1 {
  font-size: 2rem;
}

.main-ipad .text-ipad h2 {
   
    font-size: 5rem;
    margin-bottom: 0.5rem;
}



.main-ipad .text-ipad h5{
    
    color: #999;
    font-size: 1rem;
    
    margin-bottom: 2rem;
}

.main-ipad .text-ipad .btn {
    padding: 10px 25px;
    background-color: #0071e3;
    border-radius: 20px;
    color: #fff;
    font-size: 1.5rem;
    transition: all 0.5s;

}

.main-ipad .text-ipad .btn:hover{
    opacity: .85;
}



.text-conteudo {
    display: flex;
    flex-direction: column;
   align-items: center;
   
    
}

.text-conteudo h1 {
    font-size: 5rem;
    margin-bottom: 2rem;
    
}

.text-conteudo p{
    color: #999;
    font-size: 1.5rem;
    
    margin-bottom: 0rem;

}

.img-ipad img {
    width: 40rem;
    margin-left: 40rem;
    margin-top: 0;
    margin-bottom: 3vh;
} 